mixin icon(id, className)
	svg(xmlns:xlink="http://www.w3.org/1999/xlink" class=className)
		use(xlink:href="#tmpl-hh__icon-" + id href="#tmpl-hh__icon-" + id)

mixin video(video, thumbnail, source="youtube")
	.video(data-video-id=video data-video-source=source)
		.video__preview-wrapper
			img.video__preview(src=thumbnail)
		.video__play-btn
			+icon('play-btn')

mixin modal(id, withCloseBtn=true)
	.modal(id=id)
		.modal__window
			if withCloseBtn
				button.modal__close-btn(type="button")
			block

mixin nav-btn
	.nav-btn
		.nav-btn__line
		.nav-btn__line
		.nav-btn__line

mixin stat-card(title, text)
	.stat-card
		.stat-card__title!=title 
		.stat-card__text!=text 

mixin titled-text-card(title, text)
	.titled-text-card
		.titled-text-card__title.title.title--mini!=title 
		.titled-text-card__text!=text

mixin learning-card(imgSrc, title)
	.learning-card
		.learning-card__img-wrapper 
			img.learning-card__img(src=imgSrc)
		.learning-card__title.title.title--mini!=title